# Logs
logs
*.log
*-debug.log*
*storybook.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# test output
lib-cov
coverage
*.lcov
playwright-report
test-results

# Dependency directories
node_modules/

# caches
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache

# dotenv environment variable files
.env
.env*.local

# IDE
.vscode-test
!.vscode/extensions.json
!.vscode/settings.json
.idea

# OS
.DS_Store

# WXT
.output
.wxt/
web-ext.config.ts
stats.html
