@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
  --background: #fef7ff;
  --foreground: #1d1b20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141218;
    --foreground: #e6e0e9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
